body{
  font: 15px/1.5 'Assistant', sans-serif;
  padding:0;
  margin:0;
  background-color:#f4f4f4;
  direction: rtl;
}

/* Global */
.container{
  width:80%;
  margin:auto;
  overflow:hidden;
}

ul{
  margin:0;
  padding:0;
}

.button_1{
  height:38px;
  background:#CE4A7EFF;
  border:0;
  padding-left: 20px;
  padding-right:20px;
  color:#ffffff;
}

.dark{
  padding:15px;
  background:#35424a;
  color:#ffffff;
  margin-top:10px;
  margin-bottom:10px;
}

/* Header **/
header{
  position: fixed;
  width: 100%;
  background:rgba(240,240,240,0.7);
  color:black;
  padding-top:30px;
  min-height:70px;
  border-bottom:#D64161FF 3px solid;
}

header a{
  color:black;
  text-decoration:none;
  text-transform: uppercase;
  font-size:22px;
}

header li{
  float:left;
  display:inline;
  padding: 0 20px 0 20px;
}

header #branding{
  float:right;
}

header #branding h1{
  margin:0;
}

header nav{
  float:left;
  margin-top:10px;
}

header .highlight, header .current a{
  color:#CE4A7EFF;
  font-weight:bold;
}

header a:hover{
  color:#ffffff;
  font-weight:bold;
}

/* Showcase */
#showcase{
  min-height:600px;
  background:url('../img/showcase.jpg') no-repeat 0 -400px;
  text-align:center;
  color:black;
}

#showcase h1{
  margin-top:200px;
  font-size:55px;
  margin-bottom:10px;
  color: black;
  background-color: rgba(240,240,240,0.7);
  margin-bottom: 0;
}

#showcase p{
  font-size:20px;
}
#showcase .container p{
    margin-top: 0;
    background-color: rgba(240,240,240,0.7);
}

/* Newsletter */
#newsletter{
  direction: rtl;
  padding:15px;
  color:#ffffff;
  background:#1C1C1BFF;
}

#newsletter h1{
  float:right;
}

#newsletter form {
  float:left;
  margin-top:15px;
}

#newsletter input{
  padding:4px;
  height:25px;
  width:250px;
}

/* Boxes */
#boxes{
  margin-top:20px;
  
}

#boxes .box{
  background: rgb(224, 211, 232);
  float:left;
  text-align: center;
  font-size: 17px;
  font-family: 'Assistant', sans-serif;
  width:30%;
  padding:10px;
  height: 270px;
  margin: 10px;
  outline: none;
  border-width: 0;
  border-radius: 2em;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}
#boxes button:hover{
    cursor: pointer;
    background-color: rgba(242, 145, 138,0.6);
    font-weight: bold;

}

#boxes .box img{
  width:90px;
}
/* Sidebar */
aside#sidebar{
  float:right;
  width:70%;
  margin-top:10px;
}
aside#sidebar h1{
    font-size: 40px;
}
aside#sidebar p{
    font-size: 25px;
}
aside#sidebar .quote input, aside#sidebar .quote textarea{
  width:90%;
  padding:5px;
}

section#main{
    background: #35424a;
    margin-top: 30px;
    box-shadow : 0 0 30px rgba(0, 0, 0, 0.7);
    
}
/* Main-col */
article#main-col{
  float:left;
  width:30%;
}

/* Services */
ul#services li{
  list-style: none;
  padding:20px;
  margin-bottom:20px;
  margin-top: 20px;
  border-radius: 2em;
  border: 5px solid pink;
  background:rgba(192,192,192,0.7);
}
ul#services li:hover{
    background: lightblue;
}

footer{
  padding:20px;
  margin-top:20px;
  color:#ffffff;
  background-color:rgba(0,0,0,0.5);
  text-align: center;
}
.icon-call-me{
    position: fixed;
    top:200px;
    left: 10px;
}
.icon-instagram{
    position: fixed;
    top:265px;
    left: 10px;
}
.icon-whatsapp{
    position: fixed;
    top:330px;
    left: 10px;
}

/* Media Queries */
@media(max-width: 768px){
  header #branding,
  header nav,
  header nav li,
  #newsletter h1,
  #newsletter form,
  #boxes .box,
  article#main-col,
  aside#sidebar{
    float:none;
    text-align:center;
    width:100%;
  }
  #boxes .box{
    margin: 0;
    margin-bottom: 20px;
    box-shadow: none;
  }
  header{
    padding-bottom:20px;
  }

  #showcase h1{
    margin-top:200px;
  }

  #newsletter button, .quote button{
    display:block;
    width:100%;
  }

  #newsletter form input, .quote input, .quote textarea{
    width:100%;
    margin-bottom:5px;
  }
}
